<html>

<head lang="en">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #MainDiv {
            background: url(https://drive.google.com/uc?id=1ccAXKZRbwGwKvVsA8FPq-AIaEB1BPrfd&export=download);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .container {
            padding: 20px;
        }

        .greetings {
            text-align: center;
            font-size: 52px;
            font-family: 'Lato', sans-serif;
            letter-spacing: 1px;
            font-weight: 600;
            color: #3aba86;
            margin-top: 60px;
        }

        .tagline {
            text-align: center;
            margin-top: 60px;
        }

        .text {
            display: inline-block;
            margin: 0 10px;
            color: black;
            font-size: 28px;
            font-weight: 600;
            font-family: 'Lato', sans-serif;
        }

        .boxes {
            display: inline-block;
            text-align: center;
            vertical-align: super;
        }

        .small {
            display: inline-block;
            vertical-align: middle;
            margin: 2px;
            height: 16px;
            width: 10px;
            background: #a7ffdb;
            border-radius: 2px;
        }

        .medium {
            display: inline-block;
            vertical-align: middle;
            margin: 2px;
            height: 20px;
            width: 16px;
            background: #72e4b6;
            border-radius: 2px;
        }

        .large {
            display: inline-block;
            vertical-align: middle;
            margin: 2px;
            height: 24px;
            width: 20px;
            background: #3aba86;
            border-radius: 2px;
        }

        .sub-tagline {
            text-align: center;
            width: 100%;
            font-size: 22px;
            font-family: 'Lato', sans-serif;
            margin-top: 60px;
            font-weight: 300;
        }
        .sub-tagline-details {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
        }

        .excel-msg {
            text-align: center;
            margin-top: 60px;
            font-family: 'Lato', sans-serif;
            font-style: italic;
            font-size: 24px;
            font-weight: 700;
            color: #3aba86;
        }

        .logo {
            text-align: center;
            margin-top: 30px;
        }

        .logo-img {
            display: inline-block;
            height: 180px;
        }

        .button {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 60px;
        }

        .button-khubsurat {
            background: linear-gradient(346deg, rgba(58, 186, 134, 1) 40%, rgba(114, 228, 182, 1) 62%);
            border: 5px solid;
            border-image: linear-gradient(to right, #f1e6ec, #9a9a9a);
            border-image-slice: 1;
            color: white !important;
            padding: 10px 20px;
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            cursor: pointer;
            outline: none;
            text-decoration: none;
        }

        @media only screen and (max-width: 828px) {
            .greetings {
                font-size: 48px;
            }

            .text {
                font-size: 28px;
            }

            .sub-tagline {
                font-size: 22px;
            }

            .large {
                height: 22px;
                width: 18px;
            }

            .medium {
                height: 18px;
                width: 14px;
            }

            .small {
                height: 14px;
                width: 8px;
            }
        }

        @media only screen and (max-width: 738px) {
            .greetings {
                font-size: 46px;
            }

            .text {
                font-size: 24px;
            }

            .sub-tagline {
                font-size: 20px;
            }

            .tagline {
                gap: 20px;
            }

            .large {
                height: 22px;
                width: 18px;
            }

            .medium {
                height: 18px;
                width: 14px;
            }

            .small {
                height: 14px;
                width: 8px;
            }
        }

        @media only screen and (max-width: 642px) {
            .greetings {
                font-size: 40px;
            }

            .text {
                font-size: 20px;
            }

            .sub-tagline {
                font-size: 16px;
            }

            .large {
                height: 20px;
                width: 16px;
            }

            .medium {
                height: 16px;
                width: 12px;
            }

            .small {
                height: 12px;
                width: 8px;
            }

            .excel-msg {
                font-size: 18px;
            }

            .logo-img {
                display: inline-block;
                height: 140px;
            }
        }

        @media only screen and (max-width: 546px) {
            .greetings {
                font-size: 36px;
                margin-top: 40px;
            }

            .text {
                font-size: 16px;
            }

            .sub-tagline {
                font-size: 14px;
                margin-top: 40px;
            }

            .tagline {
                /* gap: 15px; */
                margin-top: 40px;
            }

            .large {
                height: 18px;
                width: 14px;
            }

            .medium {
                height: 14px;
                width: 10px;
            }

            .small {
                height: 10px;
                width: 8px;
            }

            .logo {
                margin-top: 40px;
            }
        }

        @media only screen and (max-width: 500px) {
            .greetings {
                font-size: 32px;
                margin-top: 40px;
            }

            .text {
                font-size: 16px;
            }

            .sub-tagline {
                font-size: 16px;
                margin-top: 40px;
            }

            .tagline {
                /* gap: 15px; */
                margin-top: 40px;
            }

            .large {
                height: 18px;
                width: 14px;
            }

            .medium {
                height: 14px;
                width: 10px;
            }

            .small {
                height: 10px;
                width: 8px;
            }

            .logo {
                margin-top: 40px;
            }

            .excel-msg {
                font-size: 16px;
            }

            .logo-img {
                display: inline-block;
                height: 100px;
            }

            .button-khubsurat {
                font-size: 16px;
            }
        }

        @media only screen and (max-width: 450px) {
            .greetings {
                font-size: 28px;
                margin-top: 40px;
            }

            .text {
                font-size: 14px;
            }

            .sub-tagline {
                font-size: 12px;
                margin-top: 40px;
            }

            .tagline {
                /* gap: 15px; */
                margin-top: 40px;
            }

            .large {
                height: 16px;
                width: 13px;
            }

            .medium {
                height: 13px;
                width: 8px;
            }

            .small {
                height: 9px;
                width: 7px;
            }

            .logo {
                margin-top: 40px;
            }


            .excel-msg {
                font-size: 14px;
            }

            .logo-img {
                display: inline-block;
                height: 80px;
            }

            .button-khubsurat {
                font-size: 14px;
            }
        }

        @media only screen and (max-width: 300px) {
            .greetings {
                font-size: 24px;
                margin-top: 40px;
            }

            .text {
                font-size: 12px;
            }

            .sub-tagline {
                font-size: 10px;
                margin-top: 40px;
            }

            .tagline {
                /* gap: 15px; */
                margin-top: 40px;
            }

            .large {
                height: 16px;
                width: 12px;
            }

            .medium {
                height: 12px;
                width: 8px;
            }

            .small {
                height: 8px;
                width: 6px;
            }

            .logo {
                margin-top: 40px;
            }

            .excel-msg {
                font-size: 12px;
            }

            .logo-img {
                display: inline-block;
                height: 70px;
            }

            .button-khubsurat {
                font-size: 12px;
            }
        }
    </style>
</head>

<body>
    <div id="MainDiv">
        <div id="EncompassingDiv">
            <div class="container">
                <div class="greetings">
                    Excel Help is on its way!
                </div>
                <div class="tagline">
                    <div class="boxes">
                        <div class="large"></div>
                        <div class="medium"></div>
                        <div class="small"></div>
                    </div>
                    <div class="text">
                        New Lead Submission
                    </div>
                    <div class="boxes">
                        <div class="small"></div>
                        <div class="medium"></div>
                        <div class="large"></div>
                    </div>
                </div>
                <div class="sub-tagline">
                    <div class="sub-tagline-details">
                        Name: <%= name %> <br>
                        Company: <%= company %> <br>
                        Email: <%= email %> <br>
                        Phone: <%= phone %> <br>
                        Subject: <%= subject %> <br>
                        Description: <%= description %> <br>
                    </div>
                </div>
                <div class="excel-msg">
                    We look forward to speaking with you!
                </div>
                <div class="logo">
                    <a href="https://www.excel-pros.com/" class="logo-ref">
                        <img src="https://drive.google.com/uc?id=1-THewlPSfOq9begAMNpu2DiR64kNXlhx&export=download"
                            alt="Excel Pros Logo" class="logo-img">
                    </a>
                </div>
                <div class="button">
                    <a href="https://www.excel-pros.com/" target="_blank" class="button-khubsurat" onclick="">
                        VISIT OUR SITE
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>